@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Faustina:ital,wght@0,300..800;1,300..800&family=Federo&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Jomhuria&family=Lobster&display=swap');

:root {
  --white: #ffffff;
  --black: #081C15;
  --white-pink: #FFEEEE;
  --bright-pink: #FCD8D7;
  --pink: #F8B1B1;
  --dark-pink: #732424;
  --border-pink: #BA8282;
  --border-pink-2: #EFA5A3;
  --price-pink: #DD7B7B;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--white);
    font-family: sans-serif;
}

/* Navbar com logo em cima */

.img-logo-texto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.striped_background { 
    background: repeating-linear-gradient(
        90deg,
        var(--white),
        var(--white) 30px,
        var(--bright-pink) 10px,
        var(--bright-pink) 60px
    );
    width: 100%;
    height: 120px;
}

a {
    text-decoration: none;
}

header {
    background: var(--bright-pink);
    padding-inline: 16px;
}

nav {
    width: 1280px;
    height: 60px;
    margin-inline: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-elements {
    display: flex;
    gap: 20px;
}

.nav-elements img{
    width: 28px;
    height: 28px;
}

.nav-list {
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav-list a {
    font-size: 20px;
    color: var(--black);
    padding-block: 16px;
    padding-inline: 20px;
}

/* Fim da Nav */


.categoria{
    background-color: var(--bright-pink);

}

.categoria h1{
    text-align: center;
    font-family: "faustina", serif;
    padding-top: 2%;
}

.categoria .categorias{
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 3%;
    padding-top: 2%;
}

.doces{
    display: flex;
}

.diversos{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: "faustina", serif;
    color: var(--price-pink);
    font-size: 45px;

}

.doce{
    display: flex;
    margin-bottom: 5%;
    margin-left: 8%;
    border: solid 2px;
    height: auto;
    padding: 2.5%;
    width: fit-content;
    max-width: 760px;
    background-color: var(--bright-pink);
    border-radius: 10px;
    
}

.doce h2{
    color: #081C15;
    font-size: 28px;
    text-align: start;
    
    margin-left: 1%;
    
}

.doce .preco{
    margin-left: 1%;

}

.doce-text{
    
    font-size: 30px;
    margin-left: 1%;
    background-color: var(--bright-pink);
    
}

.doce-img img{
    height: 21vh;
    width: auto;
    
    
}

.doce-text h3{
    font-size: 24px;
    margin-top: 5%;
    margin-left: 1%;
}

.doce .carrinho{
    background-color: var(--border-pink-2);
    width: 50%;
    margin-top: 10%;
    margin-left: 6%;
    padding-top: 1.1%;
    padding-bottom: 1.1%;
    padding-left: 1.8%;
    padding-right: 1.8%;
    border: solid 1px;
    
}

.doce .preco{
    display: flex;
}

/*  Footer */

.line-footer{
    width: 100%;
    height: 20px;
    background-color: var(--pink);
}

footer {
    width: 100%;
    height: 500px;
    background: var(--bright-pink);
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 100px;
}
.container-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.title-footer {
    font-family: "Jomhuria", serif;
    font-weight: bold;
    font-size: 45px;
}

.text-footer {
    font-family: "Instrument Sans", sans-serif;
    font-weight: lighter;
    font-size: 22px;
}


