@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Faustina:ital,wght@0,300..800;1,300..800&family=Federo&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Jomhuria&family=Lobster&display=swap');

:root {
  --white: #ffffff;
  --black: #081C15;
  --white-pink: #FFEEEE;
  --bright-pink: #FCD8D7;
  --pink: #F8B1B1;
  --dark-pink: #732424;
  --border-pink: #BA8282;
  --border-pink-2: #EFA5A3;
  --price-pink: #DD7B7B;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--white);
    font-family: sans-serif;
}

h1{
    font-family: "Calistoga", serif;
}

.img-logo-texto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.striped_background { 
    background: repeating-linear-gradient(
        90deg,
        var(--white),
        var(--white) 30px,
        var(--bright-pink) 10px,
        var(--bright-pink) 60px
    );
    width: 100%;
    height: 120px;
}

a {
    text-decoration: none;
}

header {
    background: var(--bright-pink);
    padding-inline: 16px;
}

nav {
    width: 1280px;
    height: 60px;
    margin-inline: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-elements {
    display: flex;
    gap: 20px;
}

.nav-elements img{
    width: 28px;
    height: 28px;
}

.nav-list {
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav-list a {
    font-size: 20px;
    color: var(--black);
    padding-block: 16px;
    padding-inline: 20px;
}

.banner{
    width: 100%;
    display: block;
}

.line-banner {
    width: 100%;
    height: 50px;
    background-color: var(--pink);
}


.sobre1 .img-sobre1{
    margin-left: 15%;
    margin-top: 5%;
    height: 60vh;
    width: 25vw;
}

.sobre1{
    display: flex;
    gap: 25%;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.sobre1 .title1-sobre{
    margin-top: 20%;
    margin-bottom: 10%;
    font-family: "faustina", serif;
}

.sobre1 .text1-sobre{
    margin-right: 5%;
}




.sobre2 .title2-sobre{
    font-family: "faustina", serif;
    text-align: center;
    margin-top: 6%;
    font-size: 40px;
}


.sobre2 .icons-sobre{
    margin-top: 5%;
    margin-left: 17%;
    gap: 5%;
    display: flex;
    height: 4vh;
    width: auto;
}

.title3-sobre{
    font-family: "faustina";
    font-size: 40px;
    margin-top: 15%;
    text-align: center;
}

.subtitle1-sobre{
    text-align: center  ;
}

.pronto h1{
    text-align: center;
    font-size: 42px;
}

.pronto h2{
    font-family: "Federo", sans-serif;
    text-align: center;
    text-decoration: none;
    margin-top: 2%;
}

.pronto a{
      text-decoration: none;
      color: #081C15;
      background-color: var(--border-pink-2);
      padding-left: 2%;
      padding-right: 2%;
      padding-bottom: 0.2%;
      padding-top: 0.2%;
      border: solid 2px;
      border-radius: 10px;
}

.pronto{
    margin-bottom: 8%;
    background-color: var(--bright-pink);
    margin-right: 10%;
    margin-left: 10%;
    padding-bottom: 5%;
    padding-top: 2%;
    border: solid 2px;
    border-radius: 40px;
}

/* Irei utilizar no sobre produtos
.avaliacao{
    justify-content: center;
    align-items: center;
    
}

.avaliacao .avaliacao1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    gap: 1%;
    margin-bottom: 10%;
    background-color: var(--bright-pink);
    width: fit-content;
    margin-left: 35%;
    border: solid 3px;
    padding: 1%;
}


.avaliacao .avaliacao1 .img1-avaliacao{
    background-color: var(--bright-pink);
    
}

.avaliacao .avaliacao1 .img1-avaliacao img{
    background-color: var(--bright-pink);
    max-width: 100%;
    height: 8vh;
    width: auto;
    border-radius: 50%;
    border: solid;
    
    
}

.avaliacao .avaliacao1 .conteudo1-avaliacao{
     background-color: var(--bright-pink);
     padding: 2%;
     
}

*/

footer {
    width: 100%;
    height: 500px;
    background: var(--bright-pink);
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 100px;
}
.container-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.title-footer {
    font-family: "Jomhuria", serif;
    font-weight: bold;
    font-size: 45px;
}

.text-footer {
    font-family: "Instrument Sans", sans-serif;
    font-weight: lighter;
    font-size: 22px;
}


