@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Jomhuria&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Federo&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Jomhuria&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Faustina:ital,wght@0,300..800;1,300..800&family=Federo&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Jomhuria&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Faustina:ital,wght@0,300..800;1,300..800&family=Federo&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Jomhuria&family=Lobster&display=swap');

:root {
  --white: #ffffff;
  --black: #081C15;
  --white-pink: #FFEEEE;
  --bright-pink: #FCD8D7;
  --pink: #F8B1B1;
  --dark-pink: #732424;
  --border-pink: #BA8282;
  --border-pink-2: #EFA5A3;
  --price-pink: #DD7B7B;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--white);
    font-family: sans-serif;
}

/* Navbar com logo em cima */

.img-logo-texto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.striped_background { 
    background: repeating-linear-gradient(
        90deg,
        var(--white),
        var(--white) 30px,
        var(--bright-pink) 10px,
        var(--bright-pink) 60px
    );
    width: 100%;
    height: 120px;
}

a {
    text-decoration: none;
}

header {
    background: var(--bright-pink);
    padding-inline: 16px;
}

nav {
    width: 1280px;
    height: 60px;
    margin-inline: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-elements {
    display: flex;
    gap: 20px;
}

.nav-elements img{
    width: 28px;
    height: 28px;
}

.nav-list {
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav-list a {
    font-size: 20px;
    color: var(--black);
    padding-block: 16px;
    padding-inline: 20px;
}

/* Banner */

.banner{
    width: 100%;
    display: block;
}


.sobre1 .img-sobre{
    
}


footer {
    width: 100%;
    height: 500px;
    background: var(--bright-pink);
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 100px;
}
.container-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.title-footer {
    font-family: "Jomhuria", serif;
    font-weight: bold;
    font-size: 45px;
}

.text-footer {
    font-family: "Instrument Sans", sans-serif;
    font-weight: lighter;
    font-size: 22px;
}


