@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Faustina:ital,wght@0,300..800;1,300..800&family=Federo&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Jomhuria&family=Lobster&display=swap');

:root {
  --white: #ffffff;
  --black: #081C15;
  --white-pink: #FFEEEE;
  --bright-pink: #FCD8D7;
  --pink: #F8B1B1;
  --dark-pink: #732424;
  --border-pink: #BA8282;
  --border-pink-2: #EFA5A3;
  --price-pink: #DD7B7B;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--white);
    font-family: sans-serif;
    overflow-x: hidden;
}

.img-logo-texto {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.img-logo-texto img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.striped_background { 
    background: repeating-linear-gradient(
        90deg,
        var(--white),
        var(--white) 30px,
        var(--bright-pink) 10px,
        var(--bright-pink) 60px
    );
    width: 100%;
    height: 120px;
    min-height: 120px;
    overflow: hidden;
}

a {
    text-decoration: none;
}

header {
    background: var(--bright-pink);
    padding-inline: 16px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav {
    max-width: 1280px;
    width: 100%;
    height: auto;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
}

.nav-elements {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.nav-elements img {
    width: 28px;
    height: 28px;
    min-width: 28px;
}

.nav-list {
    display: flex;
    gap: 15px;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-list a {
    font-size: 18px;
    color: var(--black);
    padding-block: 12px;
    padding-inline: 15px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.nav-list a:hover {
    background-color: var(--pink);
    border-radius: 5px;
}

/* Banner */
.banner {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
}

.line-banner {
    width: 100%;
    height: 50px;
    background-color: var(--pink);
}

.title-categories {
    font-family: "Calistoga", serif;
    text-align: center;
    margin-top: 40px;
    color: var(--pink);
    margin-bottom: 150px;
    font-size: 40px;
}

.carousel-container {
    width: 900px;
    margin: 40px auto;
    text-align: center;
    font-family: Arial;
    margin-bottom: 300px;
}

input[type=radio] {
    display: none;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    position: relative;
}

.item {
    position: absolute;
    width: 420px;
    height: 267px;
    overflow: hidden;
    border-radius: 6px;
    transition: .4s;
    opacity: 0;
    transform: scale(.8);
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.label {
    display: none;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: #f0cdcd;
    padding: 6px 18px;
    border: 2px solid var(--border-pink);
    font-family: "Federo", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    color: var(--dark-pink);
}

#p1:checked ~ .carousel .item1 {
    transform: translateX(-440px) scale(.9);
    opacity: .6;
}

#p1:checked ~ .carousel .item2 {
    transform: translateX(0px) scale(1.1);
    opacity: 1;
}
#p1:checked ~ .carousel .item2 .label {
    display: block;
}

#p1:checked ~ .carousel .item3 {
    transform: translateX(440px) scale(.9);
    opacity: .6;
}

#p1:checked ~ .carousel .item4 {
    transform: translateX(-950px);
    opacity: 0;
}

#p2:checked ~ .carousel .item2 {
    transform: translateX(-440px) scale(.9);
    opacity: .6;
}
#p2:checked ~ .carousel .item3 {
    transform: translateX(0px) scale(1.1);
    opacity: 1;
}
#p2:checked ~ .carousel .item3 .label {
    display: block;
}
#p2:checked ~ .carousel .item4 {
    transform: translateX(440px) scale(.9);
    opacity: .6;
}
#p2:checked ~ .carousel .item1 {
    transform: translateX(-950px);
    opacity: 0;
}

#p3:checked ~ .carousel .item3 {
    transform: translateX(-440px) scale(.9);
    opacity: .6;
}
#p3:checked ~ .carousel .item4 {
    transform: translateX(0px) scale(1.1);
    opacity: 1;
}
#p3:checked ~ .carousel .item4 .label {
    display: block;
}
#p3:checked ~ .carousel .item1 {
    transform: translateX(440px) scale(.9);
    opacity: .6;
}
#p3:checked ~ .carousel .item2 {
    transform: translateX(-950px);
    opacity: 0;
}

#p4:checked ~ .carousel .item4 {
    transform: translateX(-440px) scale(.9);
    opacity: .6;
}
#p4:checked ~ .carousel .item1 {
    transform: translateX(0px) scale(1.1);
    opacity: 1;
}
#p4:checked ~ .carousel .item1 .label {
    display: block;
}
#p4:checked ~ .carousel .item2 {
    transform: translateX(440px) scale(.9);
    opacity: .6;
}
#p4:checked ~ .carousel .item3 {
    transform: translateX(-950px);
    opacity: 0;
}

.arrows {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 40px;
}

.arrows label {
    position: relative;
    font-size: 40px;
    cursor: pointer;
    color: #444;
    z-index: 20;
    display: none;
}

.left {
    left: -700px;
}

.right {
    right: -700px;
}

#p1:checked ~ .carousel .arrows .from1 { display: block; }
#p2:checked ~ .carousel .arrows .from2 { display: block; }
#p3:checked ~ .carousel .arrows .from3 { display: block; }
#p4:checked ~ .carousel .arrows .from4 { display: block; }

.candy-title {
    text-align: center;
    font-family: "Calistoga", serif;
    font-size: 45px;
    padding: 0 20px;
}

.subtitle {
    text-align: center;
    font-family: "Federo", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    padding: 0 20px;
}

.candy-cards {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-block: 100px;
    flex-wrap: wrap;
    padding: 0 20px;
}

.card {
    display: block;
    border: 2px solid var(--black);
    max-width: 300px;
    width: 100%;
    margin-bottom: 30px;
}

.img-card {
    width: 100%;
    height: 350px;
    display: block;
    object-fit: cover;
}

.desc-card {
    width: 100%;
    height: 100px;
    background: var(--bright-pink);
    font-family: "Faustina", serif;
    font-optical-sizing: auto;
    font-size: 18px;
    text-align: center;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#price {
    font-family: "Faustina", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    color: var(--price-pink);
    margin-top: 5px;
}

.about-container {
    width: 100%;
    max-width: 100%;
    min-height: 600px;
    background: var(--white-pink);
    border: 2px solid var(--border-pink-2);
    margin-bottom: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.about-img {
    width: 780px;
    max-width: 100%;
    height: auto;
    margin: 20px;
}

.about-container-text {
    display: block;
    margin: 20px;
    max-width: 800px;
}

.about-subtitle {
    font-family: "Instrument Sans", sans-serif;
    font-size: 25px;
    margin-block: 30px;
    text-align: center;
}

.about-title {
    font-family: "Lobster", sans-serif;
    font-weight: 400px;
    font-style: normal;
    font-size: 80px;
    text-align: center;
    margin-bottom: 20px;
    line-height: 1.1;
}

.about-text {
    font-family: "Federo", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    text-align: center;
    line-height: 1.5;
}

.moments-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    flex-wrap: wrap;
    padding: 0 20px;
}

.moments-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 200px;
    flex-wrap: wrap;
    padding: 0 20px;
}

.moments {
    width: 300px;
    max-width: 90%;
    height: 300px;
    border: 3px solid var(--black);
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

footer {
    width: 100%;
    min-height: 500px;
    background: var(--bright-pink);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
    padding: 40px 20px;
}

.container-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    width: 100%;
}

.container-footer img {
    max-width: 100%;
    height: auto;
}

.social-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.social-container img {
    width: 60px;
    height: 60px;
    max-width: 60px;
}

.title-footer {
    font-family: "Jomhuria", serif;
    font-weight: bold;
    font-size: 45px;
    line-height: 0.8;
    margin-top: 20px;
}

.text-footer {
    font-family: "Instrument Sans", sans-serif;
    font-weight: lighter;
    font-size: 22px;
    line-height: 1.4;
    margin-top: 5px;
}

/* ajusta a nav */
@media (max-width: 900px) {
    nav {
        justify-content: center;
        gap: 15px;
    }
    
    .nav-list {
        gap: 10px;
    }
    
    .nav-list a {
        font-size: 16px;
        padding-inline: 12px;
        padding-block: 10px;
    }
}

 /* ajusta os elementos e textos */
@media (max-width: 1024px) {
    .candy-cards {
        gap: 50px;
    }
    
    .about-title {
        font-size: 60px;
    }
    
    .about-text {
        font-size: 24px;
    }
    
    .about-img {
        width: 600px;
    }
    
    footer {
        gap: 50px;
    }
}

/* ajusta o carrossel */

@media (max-width: 950px) {
    .carousel-container {
        width: 95%;
        max-width: 800px;
        margin-bottom: 200px;
    }
    
    .item {
        width: 350px;
        height: 222px;
    }
    
    /* Ajusta as posições */
    #p1:checked ~ .carousel .item1 {
        transform: translateX(-365px) scale(.9);
    }
    
    #p1:checked ~ .carousel .item3 {
        transform: translateX(365px) scale(.9);
    }
    
    #p2:checked ~ .carousel .item2 {
        transform: translateX(-365px) scale(.9);
    }
    
    #p2:checked ~ .carousel .item4 {
        transform: translateX(365px) scale(.9);
    }
    
    #p3:checked ~ .carousel .item3 {
        transform: translateX(-365px) scale(.9);
    }
    
    #p3:checked ~ .carousel .item1 {
        transform: translateX(365px) scale(.9);
    }
    
    #p4:checked ~ .carousel .item4 {
        transform: translateX(-365px) scale(.9);
    }
    
    #p4:checked ~ .carousel .item2 {
        transform: translateX(365px) scale(.9);
    }
    
    .left {
        left: -580px;
    }
    
    .right {
        right: -580px;
    }
}

