@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Jomhuria&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Federo&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Jomhuria&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Faustina:ital,wght@0,300..800;1,300..800&family=Federo&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Jomhuria&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Faustina:ital,wght@0,300..800;1,300..800&family=Federo&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Jomhuria&family=Lobster&display=swap');

:root {
  --white: #ffffff;
  --black: #081C15;
  --white-pink: #FFEEEE;
  --bright-pink: #FCD8D7;
  --pink: #F8B1B1;
  --dark-pink: #732424;
  --border-pink: #BA8282;
  --border-pink-2: #EFA5A3;
  --price-pink: #DD7B7B;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--white);
    font-family: sans-serif;
}

/* Navbar com logo em cima */

.img-logo-texto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.striped_background { 
    background: repeating-linear-gradient(
        90deg,
        var(--white),
        var(--white) 30px,
        var(--bright-pink) 10px,
        var(--bright-pink) 60px
    );
    width: 100%;
    height: 120px;
}

a {
    text-decoration: none;
}

header {
    background: var(--bright-pink);
    padding-inline: 16px;
}

nav {
    width: 1280px;
    height: 60px;
    margin-inline: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-elements {
    display: flex;
    gap: 20px;
}

.nav-elements img{
    width: 28px;
    height: 28px;
}

.nav-list {
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav-list a {
    font-size: 20px;
    color: var(--black);
    padding-block: 16px;
    padding-inline: 20px;
}

/* Banner */

.banner{
    width: 100%;
    display: block;
}

.line-banner {
    width: 100%;
    height: 50px;
    background-color: var(--pink);
}

/* Carrossel das categorias*/

.title-categories {
    font-family: "Calistoga", serif;
    text-align: center;
    margin-top: 40px;
    color: var(--pink);
    margin-bottom: 150px;
    font-size: 40px;
}

.carousel-container {
    width: 900px;
    margin: 40px auto;
    text-align: center;
    font-family: Arial;
    margin-bottom: 300px;
}

input[type=radio] {
    display: none;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    position: relative;
}

/* Itens do carrossel */
.item {
    position: absolute;
    width: 420px;
    height: 267px;
    overflow: hidden;
    border-radius: 6px;
    transition: .4s;
    opacity: 0;
    transform: scale(.8);
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.label {
    display: none;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: #f0cdcd;
    padding: 6px 18px;
    border: 2px solid var(--border-pink);
    font-family: "Federo", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    color: var(--dark-pink);
}

/* Posições para cada radio selecionado */

/* Estado 1 */
#p1:checked ~ .carousel .item1 {
    transform: translateX(-440px) scale(.9);
    opacity: .6;
}

#p1:checked ~ .carousel .item2 {
    transform: translateX(0px) scale(1.1);
    opacity: 1;
}
#p1:checked ~ .carousel .item2 .label {
    display: block;
}

#p1:checked ~ .carousel .item3 {
    transform: translateX(440px) scale(.9);
    opacity: .6;
}

#p1:checked ~ .carousel .item4 {
    transform: translateX(-950px);
    opacity: 0;
}


/* Estado 2 */
#p2:checked ~ .carousel .item2 {
    transform: translateX(-440px) scale(.9);
    opacity: .6;
}
#p2:checked ~ .carousel .item3 {
    transform: translateX(0px) scale(1.1);
    opacity: 1;
}
#p2:checked ~ .carousel .item3 .label {
    display: block;
}
#p2:checked ~ .carousel .item4 {
    transform: translateX(440px) scale(.9);
    opacity: .6;
}
#p2:checked ~ .carousel .item1 {
    transform: translateX(-950px);
    opacity: 0;
}


/* Estado 3 */
#p3:checked ~ .carousel .item3 {
    transform: translateX(-440px) scale(.9);
    opacity: .6;
}
#p3:checked ~ .carousel .item4 {
    transform: translateX(0px) scale(1.1);
    opacity: 1;
}
#p3:checked ~ .carousel .item4 .label {
    display: block;
}
#p3:checked ~ .carousel .item1 {
    transform: translateX(440px) scale(.9);
    opacity: .6;
}
#p3:checked ~ .carousel .item2 {
    transform: translateX(-950px);
    opacity: 0;
}


/* Estado 4 */
#p4:checked ~ .carousel .item4 {
    transform: translateX(-440px) scale(.9);
    opacity: .6;
}
#p4:checked ~ .carousel .item1 {
    transform: translateX(0px) scale(1.1);
    opacity: 1;
}
#p4:checked ~ .carousel .item1 .label {
    display: block;
}
#p4:checked ~ .carousel .item2 {
    transform: translateX(440px) scale(.9);
    opacity: .6;
}
#p4:checked ~ .carousel .item3 {
    transform: translateX(-950px);
    opacity: 0;
}



/* Setas */
.arrows {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 40px;
}

.arrows label {
    position: relative;
    font-size: 40px;
    cursor: pointer;
    color: #444;
    z-index: 20;
    display: none;
}

.left {
    left: -700px;
}

.right {
    right: -700px;
}

#p1:checked ~ .carousel .arrows .from1 { display: block; }
#p2:checked ~ .carousel .arrows .from2 { display: block; }
#p3:checked ~ .carousel .arrows .from3 { display: block; }
#p4:checked ~ .carousel .arrows .from4 { display: block; }

.candy-title {
    text-align: center;
    font-family: "Calistoga", serif;
    font-size: 45px;
}

.subtitle {
    text-align: center;
    font-family: "Federo", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.candy-cards {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-block: 100px;
}

.card {
    display: block;
    border: 2px solid var(--black);
}

.img-card {
    width: 300px;
    height: 350px;
    display: block;
}

.desc-card {
    width: 300px;
    height: 100px;
    background: var(--bright-pink);
    font-family: "Faustina", serif;
    font-optical-sizing: auto;
    font-size: 18px;
    text-align: center;
    padding-top: 30px;
}

#price {
    font-family: "Faustina", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    color: var(--price-pink);
}

.about-container {
    width: 99.85%;
    height: 600px;
    background: var(--white-pink);
    border: 2px solid var(--border-pink-2);
    margin-bottom: 200px;

    display: flex;
    justify-content: center;
}

.about-img {
    width: 780px;
    height: 600px;
    margin-left : 40px;
    margin-right: 70px;
}

.about-container-text {
    display: block;
    margin-inline: 150px;
}

.about-subtitle {
    font-family: "Instrument Sans", sans-serif;
    font-size: 25px;
    margin-block: 30px;
    text-align: center;
}

.about-title {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 90px;
    text-align: center;
    margin-bottom: 20px;
    
}

.about-text {
    font-family: "Federo", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    text-align: center;
    line-height: 1.5;
}

.moments-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.moments-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 200px;
}

.moments {
    width: 300px;
    height: 300px;
    border: 3px solid var(--black);
}

footer {
    width: 100%;
    height: 500px;
    background: var(--bright-pink);
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 100px;
}
.container-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.title-footer {
    font-family: "Jomhuria", serif;
    font-weight: bold;
    font-size: 45px;
}

.text-footer {
    font-family: "Instrument Sans", sans-serif;
    font-weight: lighter;
    font-size: 22px;
}


